.footer
  .inner
    p.pull-left &copy;&nbsp;
      a(href='#') theDistrict Network
      |  2016
    ul.pull-right
      li
        a(href='http://www.facebook.com/thedistrict.in', target='blank')
          i.fa.fa-facebook
      li
        a(href='http://instagram.com/thedistrictin', target='blank')
          i.fa.fa-instagram

block footer
