body {
  background: rgba(0,0,0,0.03);
  padding-top: 25px;
}
h1 {
  color: #ca221f;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 72px;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  margin-left: 30px;
}
.inner {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}
.container {
  background: #fff;
  max-width: 980px;
  width: 100%;
}
.row {
  padding: 10px;
}
.content {
  border: 1px solid #eee;
  display: inline-block;
  margin: 0 auto 10px 10px;
  padding: 10px;
  max-width: 310px;
  vertical-align: top;
  width: 100%;
}
.content:nth-of-type(3n+1) {
  margin-left: 0;
}
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 5px 0;
}
.content h2 {
  font-size: 18px;
}
.content h3 {
  font-size: 16px;
}
.content img {
  position: absolute;
  top: -30px;
  width: 300px;
}
.content .content--top {
  display: block;
  height: 120px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.content .content--main {
  display: block;
  vertical-align: top;
}
