district-font = 'Josefin Sans', sans-serif;
district-red = #ca221f;


body
  background: rgba(0,0,0,0.03);
  padding-top: 0;
  position: relative;

.footer
  background: district-red;
  color: white;
  font-family: district-font;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  padding: 40px;
  position: absolute;
  width: 100%;

  a
    color: white;

h1
  font-family: district-font;
  font-size: 72px;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  -webkit-text-stroke: 1px white;

.inner
  margin: 0 auto;
  max-width: 980px;
  width: 100%;

.row
  margin: 0;

.header
  background: #ca221f;
  color: white;
  padding: 20px 20px 0 20px;

  .nav
    margin: 0 auto;
    max-width: 950px;

.container
  background: white;
  margin-bottom: 50px;
  max-width: 980px;
  padding: 15px;

.hero
  padding-bottom: 20px;
  position: relative

  label
    display: inline;
    margin-right: 30px;

.content
  border: 1px solid #eee;
  display: inline-block;
  margin: 0 auto 10px 10px;
  padding: 10px;
  max-width: 307px;
  min-height: 272px;
  position: relative;
  vertical-align: top;
  width: 100%;

  &:nth-of-type(3n+1)
    margin-left: 0

  h2, h3, h4, h5, h6
    margin: 5px 0;

  h2
    font-size: 18px;
  h3
    font-size: 16px;

  img
    position: absolute;
    min-height: 100%;
    width: 100%;

  .content--top
    display: block;
    height: 120px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

  .content--main
    display: block;
    vertical-align: top;

  .row--link
    background: district-red;
    bottom: 0;
    color: white;
    font-family: district-font;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    margin: 15px 0 10px 0;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    width: 93%;

    a
      color: white;

