body {
  background: rgba(0,0,0,0.03);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding-top: 0;
  position: relative;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.footer {
  background: #ca221f;
  bottom: 0;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  padding: 40px;
  position: absolute;
  width: 100%;
}
.footer p {
  margin-top: 0;
}
.footer a {
  color: #fff;
}
.footer ul {
  margin: 0;
}
.footer li {
  display: inline;
  font-size: 75px;
  list-style: none;
  margin-left: 50px;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 72px;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  -webkit-text-stroke: 1px #fff;
}
a {
  color: #337ab7;
  text-decoration: none;
}
iframe {
  float: left;
  margin-bottom: -10px;
  padding-bottom: 15px;
  padding-right: 15px;
}
.inner {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}
.row {
  margin: 0;
  text-align: center;
}
.header {
  background: #ca221f;
  color: #fff;
  padding: 20px 20px 0 20px;
}
.header .nav {
  margin: 0 auto;
  max-width: 950px;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.container {
  background: #fff;
  min-height: 800px;
  max-width: 980px;
  overflow: auto;
  padding: 15px;
  padding-bottom: 200px;
}
.container h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-style: inherit;
  padding-bottom: 15px;
  -webkit-text-stroke: 0;
}
.hero {
  padding-bottom: 0px;
  position: relative;
}
.hero h1 {
  padding-bottom: 0;
}
.hero p {
  margin-top: 5px;
}
.hero label {
  display: inline;
  margin-right: 30px;
}
.content {
  border: 1px solid #eee;
  box-sizing: border-box;
  float: left;
  margin: 0 auto 10px 10px;
  max-width: 309px;
  min-height: 286px;
  padding: 10px;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 100%;
}
.content:nth-of-type(3n+1) {
  margin-left: 0;
}
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 5px 0;
}
.content h2 {
  font-size: 18px;
}
.content h3 {
  font-size: 14px;
}
.content h4 {
  font-size: 13px;
}
.content img {
  position: absolute;
  min-height: 100%;
  width: 100%;
}
.content .content--top {
  display: block;
  height: 120px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.content .content--main {
  display: block;
  vertical-align: top;
}
.content .row--link {
  background: #ca221f;
  bottom: 0;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  margin: 15px 0 10px 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 93%;
}
.content .row--link a {
  color: #fff;
}
.content .tag--top-right {
  background: #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  padding: 2px 10px;
  pointer: default;
  position: absolute;
  right: 10px;
  top: 10px;
}
.content .DC {
  background: #ca221f;
}
.content .VA {
  background: #002a79;
}
.content .MD {
  background: #ffd51a;
  color: #000;
}
.content--show {
  border-bottom: 10px solid #ca221f;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
}
.content--show img {
  float: left;
  padding-right: 20px;
}
.content--show h2,
.content--show h3 {
  margin-top: 0;
}
.content--show .row--link {
  background: #ca221f;
  bottom: 0;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 38px;
  font-style: italic;
  font-weight: 700;
  height: 50px;
  line-height: 60px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 200px;
}
.content--venue h2,
.content--venue h3 {
  margin: 0;
}
.content--venue h3 {
  font-size: 16px;
  margin-top: 3px;
}
.sold-out {
  background: #666 !important;
}
@media all and (max-width: 976px) {
  .content:nth-of-type(3n + 1) {
    margin: 0 auto 10px 10px;
  }
  .content:nth-of-type(odd) {
    margin-left: 0;
  }
}
@media all and (min-width: 480px) {
  .mobile {
    display: none;
  }
}
@media all and (max-width: 480px) {
  .desktop {
    display: none;
  }
  body,
  h1 {
    font-size: 55px;
  }
  h2,
  h3 {
    margin: 0;
  }
  iframe {
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
  }
  p {
    font-size: 18px;
    line-height: 24px;
  }
  .container {
    padding: 10px;
    padding-bottom: 250px;
  }
  .container h1 {
    font-size: 24px;
  }
  .hero {
    padding: 0;
  }
  .content {
    height: 120px;
    margin-left: 0 !important;
    min-height: 0;
    min-width: 100%;
    padding: 5px;
  }
  .content h2,
  .content h3 {
    margin: 0 5px 1px 0;
  }
  .content h2 {
    font-size: 16px;
  }
  .content h3 {
    font-size: 12px;
  }
  .content .pull-right {
    display: block;
    float: none;
    margin-top: 3px;
  }
  .content img {
    max-height: 130px;
    position: absolute;
    width: auto;
  }
  .content .content--top {
    float: left;
    height: 108px;
    max-width: 85px;
    overflow: hidden;
    width: 25%;
  }
  .content .content--main {
    float: left;
    margin-left: 5px;
    width: 73%;
  }
  .content .row--link {
    bottom: 5px;
    font-size: 22px;
    margin: 0;
    padding-top: 6px;
    width: 71%;
  }
  .content .tag--top-right {
    display: none;
  }
  .content--show {
    height: auto;
    overflow: visible;
    padding-bottom: 15px;
    padding-top: 50px;
  }
  .content--show h2,
  .content--show h3 {
    font-size: 24px;
  }
  .content--show img {
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
  }
  .content--show .row--link {
    width: 100%;
  }
  .footer p {
    font-size: 24px;
  }
  .footer li {
    font-size: 48px;
  }
}
