district-font = 'Josefin Sans', sans-serif;
district-red = #ca221f;


body
  background: rgba(0,0,0,0.03);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0;
  padding-top: 0;
  position: relative;

*
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

.pull-left
  float: left;

.pull-right
  float: right;

.footer
  background: district-red;
  bottom: 0;
  color: white;
  font-family: district-font;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  padding: 40px;
  position: absolute;
  width: 100%;

  p
    margin-top: 0;

  a
    color: white;

  ul
    margin: 0;

  li
    display: inline;
    font-size: 75px;
    list-style: none;
    margin-left: 50px;

h1
  font-family: district-font;
  font-size: 72px;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  -webkit-text-stroke: 1px white;

a
  color: #337ab7;
  text-decoration: none;

iframe
  float: left;
  margin-bottom: -10px;
  padding-bottom: 15px;
  padding-right: 15px;

.inner
  margin: 0 auto;
  max-width: 980px;
  width: 100%;

.row
  margin: 0;
  text-align: center;

.header
  background: #ca221f;
  color: white;
  padding: 20px 20px 0 20px;

  .nav
    margin: 0 auto;
    max-width: 950px;

  a
    color: white;
    text-decoration: none;

.container
  background: white;
  min-height: 800px;
  max-width: 980px;
  overflow: auto;
  padding: 15px;
  padding-bottom: 200px;

  h1
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-style: inherit;
    padding-bottom: 15px;
    -webkit-text-stroke: 0;

.hero
  padding-bottom: 20px;
  position: relative

  label
    display: inline;
    margin-right: 30px;

.content
  border: 1px solid #eee;
  box-sizing: border-box;
  float: left;
  margin: 0 auto 10px 10px;
  max-width: 309px;
  min-height: 272px;
  padding: 10px;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 100%;

  &:nth-of-type(3n+1)
    margin-left: 0

  h2, h3, h4, h5, h6
    margin: 5px 0;

  h2
    font-size: 18px;
  h3
    font-size: 16px;

  img
    position: absolute;
    min-height: 100%;
    width: 100%;

  .content--top
    display: block;
    height: 120px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

  .content--main
    display: block;
    vertical-align: top;

  .row--link
    background: district-red;
    bottom: 0;
    color: white;
    font-family: district-font;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    margin: 15px 0 10px 0;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    width: 93%;

    a
      color: white;

  .tag--top-right
    background: rgba(255,255,255, 1);
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 2px 10px;
    pointer: default;
    position: absolute;
    right: 10px;
    top: 10px;

  .DC
    background: district-red;
  .VA
    background: #002a79;
  .MD
    background: #ffd51a;
    color: black;

.content--show
  border-bottom: 10px solid district-red;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;

  img
    float: left;
    padding-right: 20px;

  h2, h3
    margin-top: 0;

  .row--link
    background: district-red;
    bottom: 0;
    color: white;
    font-family: district-font;
    font-size: 38px;
    font-style: italic;
    font-weight: 700;
    height: 50px;
    line-height: 60px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 200px;

@media all and (max-width: 976px)

  .content:nth-of-type(3n + 1)
    margin: 0 auto 10px 10px;

  .content:nth-of-type(odd)
    margin-left: 0

@media all and (min-width: 480px)
  .mobile
    display: none;

@media all and (max-width: 480px)
  .desktop
    display: none;

  body

  h1
    font-size: 55px;

  h2, h3
    margin: 0;

  iframe
    margin-bottom: 15px;
    padding: 0;
    width: 100%;

  p
    font-size: 18px;
    line-height: 24px;

  .container
    padding: 10px;
    padding-bottom: 250px;

    h1
      font-size: 24px;

  .hero
    padding: 0;

  .content
    height: 117px;
    margin-left: 0;
    min-height: 0;
    min-width: 100%;
    padding: 5px;

    h2, h3
      margin: 0 5px;

    img
      max-height: 130px;
      position: absolute;
      width: auto;

    .content--top
      float: left;
      height: 105px;
      overflow: hidden;
      width: 25%;

    .content--main
      float: left;
      margin-left: 5px;
      width: 73%;

    .row--link
      bottom: 5px;
      font-size: 24px;
      margin: 0;
      padding-top: 6px;
      width: 71%;

    .tag--top-right
      display: none;

  .content--show
    height: auto;
    overflow: visible;
    padding-bottom: 15px;
    padding-top: 50px;

    h2, h3
      font-size: 24px;

    img
      margin-bottom: 10px;
      padding: 0;
      width: 100%;

    .row--link
      width: 100%;

  .footer

    p
      font-size: 24px;

    li
      font-size: 48px;
